#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

#owl-demo {
    position: relative;
}

.owl-controls {
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
}

.owl-theme .owl-controls .owl-page span {
    background: #d9534f;
    opacity: 0.75;
}

.owl-theme .owl-controls .owl-page.active span {
    background: purple;
    opacity: 0.5;

}


.owl-theme .owl-controls .owl-buttons div {
    background: #d9534f;
    font-size: 14px;
    opacity: 0.75;
}