#owl-demo .item img {
    display: block;
    height: 100%;
}

#owl-feature .item {
    margin: 3px;
}

#owl-feature .item img {
    display: block;
    width: 100%;
    height: auto;
}

.hero-section {
    position: relative;
}

.owl-controls {
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
}

.owl-theme .owl-controls .owl-page span {
    background: #d9534f;
    opacity: 0.75;
}

.owl-theme .owl-controls .owl-page.active span {
    background: purple;
    opacity: 0.5;
}

.owl-theme .owl-controls .owl-buttons div {
    background: #d9534f;
    font-size: 14px;
    opacity: 0.75;
}


/*full screen height */

html,
body,
#hero-section,
#owl-demo {
    position: relative;
    height: 100%;
}

.owl-demo,
.owl-wrapper-outer,
.owl-wrapper,
.owl-item,
.item,
.active {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

#cover2 {
    background-image: url('../img/cover2.jpg')
}

#cover3 {
    background-image: url('../img/cover3.jpg')
}

#cover4 {
    background-image: url('../img/cover4.jpg')
}

#cover5 {
    background-image: url('../img/cover5.jpg')
}

#cover6 {
    background-image: url('../img/cover6.jpg')
}

#cover7 {
    background-image: url('../img/cover7.jpg')
}

#cover8 {
    background-image: url('../img/cover8.jpg')
}