<section id="hero-section">

    <div id="owl-demo" class="owl-carousel owl-theme">
        <div class="item fill" id="cover2">
            <div class="layer"></div>
        </div>
        <div class="item fill" id="cover3">
            <div class="layer"></div>
        </div>
        <div class="item fill" id="cover4">
            <div class="layer"></div>
        </div>
        <div class="item fill" id="cover5">
            <div class="layer"></div>
        </div>
        <div class="item fill" id="cover6">
            <div class="layer"></div>
        </div>
        <div class="item fill" id="cover7">
            <div class="layer"></div>
        </div>
        <div class="item fill" id="cover8">
            <div class="layer"></div>
        </div>
    </div>

    <section class="cd-intro">
        <h1 class="cd-headline loading-bar">
			<span id="store-name">MIYABI</span>
			<span class="cd-words-wrapper">
				<b class="is-visible">Beautiful Miyabi Suits</b>
				<b>Professional Photo Shoot</b>
				<b>Top Makeup Artists  </b>
			</span>
		</h1>
    </section>

</section>