{% extends "bootstrap/base.html" %}

{% block title %}Miyabi{% endblock %}

{% block head %}
{{ super() }}
    <!-- nav-section CSS-->
    <link href="https://fonts.googleapis.com/css?family=Lora:700" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='nav-section/css/reset.css') }}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{{ url_for('static', filename='nav-section/css/style.css') }}"> 

    <!-- hero-section CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='hero-section/css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='hero-section/css/owl.theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='hero-section/css/owl.transitions.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='hero-section/css/style.css') }}">

    <!-- headline-section CSS-->
	<link rel="stylesheet" href="{{ url_for('static', filename='headline-section/css/style.css') }}"> 

    <!-- services-section CSS-->
	<link rel="stylesheet" href="{{ url_for('static', filename='services-section/css/style.css') }}"> 
{% endblock %}

{% block content %}
    {% include 'nav-section.html' %}
    {% include 'hero-section.html' %}
    {% include 'services-section.html' %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='nav-section/js/modernizr.js') }}"></script> 
<script src="{{ url_for('static', filename='nav-section/js/main.js') }}"></script> 

<script src="{{ url_for('static', filename='hero-section/js/main.js') }}"></script>
<script src="{{ url_for('static', filename='hero-section/js/owl.carousel.js') }}"></script>

<script src="{{ url_for('static', filename='headline-section/js/main.js') }}"></script> <!-- Resource jQuery -->

{% endblock %}