<section id="nav-section">
    <nav class="cd-stretchy-nav">
        <a class="cd-nav-trigger" href="#0">
            <span aria-hidden="true"></span>
        </a>

        <ul>
            <li><a href="#0" class="active"><span>Home</span></a></li>
            <li><a href="#about-us"><span>About us</span></a></li>
            <li><a href="#services"><span>Services</span></a></li>
            <li><a href="#reservation"><span>Reservation</span></a></li>
            <li><a href="#gallery"><span>Gallery</span></a></li>
            <li><a href="#blog"><span>Blog</span></a></li>
            <li><a href="#visit-us"><span>Visit us</span></a></li>
        </ul>

        <span aria-hidden="true" class="stretchy-nav-bg"></span>
    </nav>
</section>