<section id="services-section">
    <div class="container">
        <div class="row">
            <div id="owl-feature" class="owl-carousel">
                <div class="item"><img class="lazyOwl" data-src="{{ url_for('static', filename='services-section/img/feature1.jpg') }}" alt="Lazy Owl Image"></div>
                <div class="item"><img class="lazyOwl" data-src="{{ url_for('static', filename='services-section/img/feature2.jpg') }}" alt="Lazy Owl Image"></div>
                <div class="item"><img class="lazyOwl" data-src="{{ url_for('static', filename='services-section/img/feature3.jpg') }}" alt="Lazy Owl Image"></div>
                <div class="item"><img class="lazyOwl" data-src="{{ url_for('static', filename='services-section/img/feature4.jpg') }}" alt="Lazy Owl Image"></div>
                <div class="item"><img class="lazyOwl" data-src="{{ url_for('static', filename='services-section/img/feature5.jpg') }}" alt="Lazy Owl Image"></div>
                <div class="item"><img class="lazyOwl" data-src="{{ url_for('static', filename='services-section/img/feature6.jpg') }}" alt="Lazy Owl Image"></div>
                <div class="item"><img class="lazyOwl" data-src="{{ url_for('static', filename='services-section/img/feature7.jpg') }}" alt="Lazy Owl Image"></div>

            </div>
        </div>
    </div>
</section>